env
.env
document_portal.egg-info
venv/
__pycache__/
logs/
*.pyc
faiss_index/
archive/
notebook/
data/
github-actions-key.json
.github\workflows\aws.yml
.github\workflows\template.yml
.github\workflows\task_definition.json